<header class="header">
  <div class="left">
    <a [routerLink]="'/'" class="brand" routerLinkActive="router-link-active">AdManage</a>
  </div>
  <div class="right">
    <button mat-icon-button *ngIf="authState()"   class="notification-btn" (click)="openNotifications()" aria-label="Notifications">
      <mat-icon *ngIf="notificationCount()>0" [matBadge]="notificationCount()" >notifications</mat-icon>
      <mat-icon *ngIf="notificationCount()==0" >notifications</mat-icon>

    </button>

    <button mat-icon-button class="theme-toggle-btn" (click)="toggleTheme()" aria-label="Toggle Theme">
      <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button>

    <a mat-icon-button [routerLink]="'/calendar'" routerLinkActive="router-link-active" aria-label="Calendar">
      <mat-icon>calendar_month</mat-icon>
    </a>

    <a mat-icon-button [routerLink]="'/signin'" routerLinkActive="router-link-active" aria-label="Sign In">
      <mat-icon (click)="logout()">{{ authState() ? 'logout' : 'account_circle' }}</mat-icon>
    </a>
  </div>
</header>
