<div id="preferenceslist">

  <div class="preferenceitem">
    <p>Theme</p>
    <button mat-button (click)="toggleTheme()">Toggle Dark Mode</button>
  </div>
  <div class="preferenceitem">
    <p>Color Pallete</p>
    <button mat-button (click)="toggleTheme()">Azure-Blue pallet</button>
  </div>
  <div class="preferenceitem">
    <p>Language</p>
    <button mat-button (click)="toggleTheme()">Toggle Language </button>
  </div>
  <div class="preferenceitem">
    <p>Animations</p>
    <button mat-button (click)="toggleTheme()">Toggle Animations</button>
  </div>
  <div class="preferenceitem">
    <p>Mode</p>
    <button mat-button (click)="toggleTheme()">Toggle user Mode</button>
  </div>



</div>
