<div id="preferenceslist">
  <div class="preferenceitem">
    <p>Dark Mode</p>
    <mat-slide-toggle [checked]="isDarkMode" (change)="toggleTheme()" ></mat-slide-toggle>
  </div>
  <div class="preferenceitem">
    <p>Color Pallete</p>
    <button mat-button [matMenuTriggerFor]="themeMenu" id="color-pallete">
      Toggle Color Pallete
    </button>
    <mat-menu #themeMenu="matMenu">
      <button
        mat-menu-item
        (click)="setTheme('custom-magenta', 'custom-orange')">
        <span>Magenta, Orange</span>
      </button>
      <button mat-menu-item (click)="setTheme('custom-violet', 'custom-blue')">
        <span>Violet, Blue</span>
      </button>
      <button
        mat-menu-item
        (click)="setTheme('custom-primary', 'custom-tertiary')"
      >
        <span>Pimary, Tertiary</span>
      </button>
    </mat-menu>
  </div>

  <div class="preferenceitem">
    <p>Language</p>
    <mat-form-field appearance="fill">
      <mat-label>Language</mat-label>
      <mat-select
        [(ngModel)]="selectedLanguage"
        (selectionChange)="onLanguageChange($event.value)"
      >
        <mat-option *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
