<div id="preferenceslist">

  <div class="preferenceitem">
    <p>Theme</p>
    <button mat-button (click)="toggleTheme()">Toggle Dark Mode</button>
  </div>
  <div class="preferenceitem">
    <p>Color Pallete</p>
    <button mat-button [matMenuTriggerFor]="themeMenu" id="color-pallete">
      Toggle Color Pallete
    </button>
    <mat-menu #themeMenu="matMenu">
      <button mat-menu-item (click)="setTheme('custom-magenta', 'custom-orange')">
        <span>Magenta, Oange</span>
      </button>
      <button mat-menu-item (click)="setTheme('custom-violet', 'custom-blue')">
        <span>Violet, Blue</span>
      </button>
      <button mat-menu-item (click)="setTheme('custom-primary', 'custom-tertiary')">
        <span>Pimary, Tertiary</span>
      </button>
    </mat-menu>
    <!-- <button mat-button (click)="toggleTheme()">Azure-Blue pallet</button> -->
  </div>
  <div class="preferenceitem">
    <p>Language</p>
    <button mat-button (click)="toggleTheme()">Toggle Language </button>
  </div>
  <div class="preferenceitem">
    <p>Animations</p>
    <button mat-button (click)="toggleTheme()">Toggle Animations</button>
  </div>
  <div class="preferenceitem">
    <p>Mode</p>
    <button mat-button (click)="toggleTheme()">Toggle user Mode</button>
  </div>
</div>
