.left, .right{
    width: 45%;
}

.left h1{
    color: rgb(36, 36, 36) ;
    font-weight: 700;
}

.right{
    display: flex;
    justify-content: end;
}



.mat-mdc-table{
    border: 1px solid black !important;
}

@media screen and (max-width: 720px) {
    .left, .right{
        width: 100%;
    }
    .right{
        display: flex;
        justify-content: flex-start;
    }
}

.btn-close {
    position: fixed;
    font-size: 100%;
    font-weight: bolder;
    color: aliceblue;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    background-color: blue;
  
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }