.mat-mdc-table {
  border: 1px solid black !important;
}

#headingrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
}

#schstdbtn{
  margin: 10px !important;
}

#headingrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0px;
}

.table-container{
  margin: 3rem;
}


.mat-mdc-row {
  height: auto !important;
}

.mat-mdc-cell {
  padding: 11px 10px !important;
}


.btn-close{
  position: fixed !important;
  bottom: 10px !important;
  right:10px !important;
  opacity: 1 !important;

}
