<app-dialogboxrow>
</app-dialogboxrow>


<div class="table-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table-striped">
      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>{{'STUDENT_DASHBOARD.TABLE_COLUMN.1' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isEditing(element, 'student_id')"
               (click)="editCell(element, 'student_id')"
               (keydown.enter)="editCell(element, 'student_id')"
               tabindex="0"
               class="editable-cell">
            {{element.student_id}}
          </div>
          <input *ngIf="isEditing(element, 'student_id')"
                 title="Student ID"
                 [(ngModel)]="element.student_id"
                 (blur)="saveCell(element, 'student_id')"
                 (keydown.enter)="saveCell(element, 'student_id')"
                 class="editable-input"
                  />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>{{'STUDENT_DASHBOARD.TABLE_COLUMN.2' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isEditing(element, 'student_name')"
               (click)="editCell(element, 'student_name')"
               (keydown.enter)="editCell(element, 'student_name')"
               tabindex="0"
               class="editable-cell">
            {{element.student_name}}
          </div>
          <input *ngIf="isEditing(element, 'student_name')"
                 title="Student Name"
                 [(ngModel)]="element.student_name"
                 (blur)="saveCell(element, 'student_name')"
                 (keydown.enter)="saveCell(element, 'student_name')"
                 class="editable-input"
                  />
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>{{'STUDENT_DASHBOARD.TABLE_COLUMN.3' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isEditing(element, 'student_email')"
               (click)="editCell(element, 'student_email')"
               (keydown.enter)="editCell(element, 'student_email')"
               tabindex="0"
               class="editable-cell">
            {{element.student_email}}
          </div>
          <input *ngIf="isEditing(element, 'student_email')"
                 title="Student Email"
                 [(ngModel)]="element.student_email"
                 (blur)="saveCell(element, 'student_email')"
                 (keydown.enter)="saveCell(element, 'student_email')"
                 class="editable-input"
                  />
        </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef>{{'STUDENT_DASHBOARD.TABLE_COLUMN.4' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isEditing(element, 'student_phone')"
               (click)="editCell(element, 'student_phone')"
               (keydown.enter)="editCell(element, 'student_phone')"
               tabindex="0"
               class="editable-cell">
            {{element.student_phone}}
          </div>
          <input *ngIf="isEditing(element, 'student_phone')"
                 title="Student Phone"
                 [(ngModel)]="element.student_phone"
                 (blur)="saveCell(element, 'student_phone')"
                 (keydown.enter)="saveCell(element, 'student_phone')"
                 class="editable-input"
                  />
        </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef>{{'STUDENT_DASHBOARD.TABLE_COLUMN.5' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isEditing(element, 'gender')"
               (click)="editCell(element, 'gender')"
               (keydown.enter)="editCell(element, 'gender')"
               tabindex="0"
               class="editable-cell">
            {{element.gender}}
          </div>
          <input *ngIf="isEditing(element, 'gender')"
                 title="Gender"
                 [(ngModel)]="element.gender"
                 (blur)="saveCell(element, 'gender')"
                 (keydown.enter)="saveCell(element, 'gender')"
                 class="editable-input"
                  />
        </td>
      </ng-container>

      <!-- Table rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
        </td>
      </tr>
    </table>

    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="disabled"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>